<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@2.0.1"></script>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <div class="relative flex min-h-screen flex-col justify-center bg-blue-50">
      <div class="relative px-6 pt-8 pb-6 bg-red-50 myshadow sm:mx-auto">
        <div class="mx-auto max-w-md">
          <div class="text-center font-bold font-weight-800">
            JRE.Rest
          </div>
          <div class="py-4">
            <blockquote id="quote" class="font-mono" cite="">
              {{ .Quote }}
            </blockquote>
          </div>
          <div class="font-mono text-end">
            – Joe Rogan
          </div>
          <div class="mx-auto w-1/2 text-center pt-4">
            <!-- <button hx-get="/quote" hx-trigger="click" hx-target="#quote" hx-swap="outerHTML" type="" class="hover:text-white hover:bg-purple-600 rounded-full bg-cyan-500 px-4 py-1 mypill">Refresh</button> -->
            <button hx-get="/api/text" hx-trigger="click" hx-target="#quote" hx-swap="outerHTML" type="" class="hover:text-white hover:bg-purple-600 rounded-full bg-cyan-500 px-4 py-1 mypill">Refresh</button>
          </div>
        </div>
      </div>
      <div class="mx-auto flex pt-8">
        <a href="https://github.com/phantompunk/jre"><p class="px-2 hover:text-purple-600">Github</p></a>
        <a href="https://bsky.app/profile/rigomoran.com"><p class="px-2 hover:text-purple-600">Bluesky</p></a>
      </div>
    </div>
    <!-- <script>setInterval(function() {location.reload()}, 3000);</script> -->
</body>
</html>
